<!DOCTYPE html>
<html>
<head>
  <title>Kitekiss</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "All Runs", runs_path %>
<%= link_to "Log a run", new_run_path %>

<%= render 'common/signout' %>

<%= yield %>

</body>
</html>
